body {
  margin: 0 auto;
  background-color: rgb(229, 236, 243);
  box-sizing: border-box;
  color: rgb(63, 63, 73);
}
.fuwafuwa {
  animation: fuwafuwa 2.5s infinite ease-in-out 0.8s alternate;
  background: url("/image/tora.png") no-repeat center center / 200px auto;

  transition: 1.5s ease-in-out;
  width: 300px;
  height: 300px;
  top: 700px;
  left: 250px;
  position: fixed;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0) rotate(-7deg);
  }
  50% {
    transform: translate(0, -7px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(7deg);
  }
}
.fuwafuwa2 {
  animation: fuwafuwa2 3.5s infinite ease-in-out 0.8s alternate;
  background: url("/image/pien.png") no-repeat center center / 200px auto;

  transition: 1.5s ease-in-out;
  width: 300px;
  height: 300px;
  top: 700px;
  left: 1250px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@keyframes fuwafuwa2 {
  0% {
    transform: translate(0, 0) rotate(7deg);
  }
  50% {
    transform: translate(0, -7px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(-7deg);
  }
}
@media screen and (max-width: 780px) {
  body {
    width: 780px;
  }
  .fuwafuwa {
    animation: fuwafuwa 2.5s infinite ease-in-out 0.8s alternate;
    background: url("/image/tora.png") no-repeat center center / 120px auto;

    transition: 1.5s ease-in-out;
    width: 225px;
    height: 225px;
    top: 600px;
    left: -15px;
    position: fixed;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .fuwafuwa2 {
    animation: fuwafuwa2 3.5s infinite ease-in-out 0.8s alternate;
    background: url("/image/pien.png") no-repeat center center / 125px auto;

    transition: 1.5s ease-in-out;
    width: 200px;
    height: 200px;
    top: 600px;
    left: 425px;
    position: fixed;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.all a {
  text-decoration: none;
  color: rgb(94, 80, 145);
  transition: 0.5s;
}
.all li {
  display: inline-block;
  width: 110px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-family: "Arial Narrow";
}
.all ul {
  text-align: center;
  position: fixed;

  background-color: rgb(246, 250, 253);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-top: 0px;
}
.all {
  list-style: none;
}
.current-page {
  background-color: rgb(229, 236, 243);
  padding: 5px 0px;
}

.all li a:hover {
  background-color: rgb(229, 236, 243);
  padding: 5px 15px;
  width: 340px;
}
.all a:hover img {
  opacity: 0.6;
  transition: 0.5s;
}
ul img {
  width: 30px;
  margin-bottom: -5px;
}
img[alt="twitter"] {
  margin-left: 50px;
  margin-right: 10px;
}
.topimage {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  animation: anime1 2s ease; /* アニメーション指定 */
}
@keyframes anime1 {
  0% {
    opacity: 0; /* 透明度指定 */
  }
  100% {
    opacity: 1; /* 透明度指定 */
  }
}
.topheader {
  text-align: center;

  margin-top: -500px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 5px;
  color: rgb(43, 68, 182);
  font-size: 25px;

  position: relative;
  animation: anime2 2s ease; /* アニメーション指定 */
}
@keyframes anime2 {
  0% {
    opacity: 0; /* 透明度指定 */
    top: 25px;
  }
  100% {
    opacity: 1; /* 透明度指定 */
    top: 0;
  }
}
.topheader {
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
header p {
  margin-top: -50px;
  color: rgb(143, 187, 207);
}

.schoolwork {
  margin-top: 400px;
  text-align: center;
}
.schoolwork video {
  max-width: 800px;
}
.schoolwork h3 {
  margin-top: 200px;
  font-size: 35px;
  margin-bottom: 10px;
  color: rgb(64, 10, 114);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}
.schoolwork img {
  max-width: 1000px;
  margin-top: 100px;
}
.schoolwork p {
  font-size: 20px;
  margin-top: 10px;
}
.works {
  text-align: center;
  color: rgb(64, 10, 114);
}
.works h3 {
  margin-top: 250px;
  font-size: 30px;
  margin-bottom: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}
.worksimages1 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.worksimages img {
  margin-left: 10px;
  margin-right: 10px;
}
.worksimages a {
  transition: 0.5s;
}
.worksimages a:hover {
  opacity: 0.6;
}
.worksimages a:hover img {
  transition: 0.5s;
  width: 525px;
}

.worksimages strong {
  font-size: 20px;
}
.worksimages p {
  font-size: 15px;
  margin-top: 10px;
}
.worksimages2 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.worksimages3 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.worksimages5 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.worksimages4 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}
.worksimages6 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.worksimages7 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.worksimages8 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.worksimages9 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.twitter a:hover {
  transition: 0.5s;
  opacity: 0.6;
}

.twitter {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: -25px;
}
.twitter img {
  margin: 25px;
}
.twitter p {
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;
  font-size: small;
}
footer {
  text-align: center;
  background-color: rgb(97, 83, 145);
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 50px;
  color: rgb(224, 230, 235);
}
.PROFILE {
  text-align: center;
  padding-top: 100px;
}
.PROFILE h2 {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 5px;
  color: rgb(64, 10, 114);
}
.PROFILE img[alt="icon"] {
  margin-top: 30px;
  width: 250px;
  margin-bottom: -20px;
}
.PROFILE img[alt="sns"] {
  max-width: 25px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.profilewrite strong {
  font-size: 30px;
}
.name p::first-letter {
  font-size: 50px;
}
.name {
  margin-top: 35px;
  color: rgb(37, 76, 150);
}
.profilewrite p {
  margin-top: -25px;
  font-weight: bold;
  font-size: 15px;
}
.content p {
  margin-top: 15px;
  font-weight: normal;
}
.profilewrite a:hover img {
  opacity: 0.6;
}
hr {
  margin-top: 70px;
  border-top: dashed 1px;
}

.hobby {
  text-align: center;
  padding-top: 125px;
  max-width: 1500px;
  margin: 0 auto;
}
.hobby img {
  max-width: 100%;
}
.hobbyheader h2,
.hobbyheader p {
  text-align: left;

  font-size: 50px;
  margin-top: -450px;
}
.hobby h2 {
  color: rgb(255, 255, 255);
  margin-left: 230px;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hobby p {
  margin-top: -60px;
  color: rgb(251, 252, 253);
  font-size: 30px;
  margin-left: 190px;
}
.hobbynav ul {
  margin-top: -15px;
}
.hobbynav li {
  text-align: left;
  margin-left: 240px;
  list-style-type: none;
  margin-bottom: 15px;
}
.hobbynav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: larger;
}
.hobbynav a:hover {
  color: rgb(9, 108, 165);
}
.hobbynav li::first-letter {
  color: rgb(66, 79, 150);
}
.hobbynav + p {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: 50px;
  margin-left: 230px;
}
.PHOTO {
  margin-left: 300px;
  margin-top: -730px;
  margin-bottom: -70px;
  font-size: 40px;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(18, 54, 99);
}

img[alt="camera"] {
  margin-top: 350px;
}
.mainhobbyphoto img {
  text-align: center;
  max-width: 100%;
}
.mainhobbyphoto {
  text-align: center;
}
.mainhobbyphoto P {
  font-size: larger;
  text-align: left;
  margin-left: 1250px;
}
.subhobbyphoto {
  max-width: 1050px;
  margin: 200px auto;
  margin-top: 250px;
  margin-bottom: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.subhobbyphoto img {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  max-width: 300px;
}
.subhobbyphoto a:hover {
  opacity: 0.6;
}
.hobbyall {
  max-width: 1900px;
  margin: 0 auto;
}
.another h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 200px;
}
.anotherhobby {
  background: rgba(141, 186, 207, 0.6);
  padding: 100px;
  color: aliceblue;
  margin-top: -55px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}
.anotherhobby a:hover {
  opacity: 0.6;
}
.anotherhobby1 img,
.anotherhobby1 video {
  max-width: 300px;
  margin-left: 25px;
  margin-right: 25px;
}

.anotherhobby figcaption {
  margin-top: -10px;
}
.anotherhobby1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.anotherhobby2 video,
.anotherhobby2 img {
  max-width: 300px;
  max-height: 300px;
  margin-left: 25px;
  margin-right: 25px;
}
.anotherhobby3 video,
.anotherhobby3 img {
  max-width: 450px;
  max-height: 450px;
}
.anotherhobby2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.anotherhobby3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.anotherhobby4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.another h3 {
  margin-top: 200px;
}
.anotherhobby4 img {
  max-width: 300px;
}
.anotherhobby5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.anotherhobby5 img {
  max-width: 500px;
}
.anotherhobby5 a:hover {
  opacity: 0.7;
}
.lastmessege img {
  max-width: 250px;
  text-align: center;
  margin-top: -70px;
  margin-bottom: -50px;
}
.lastmessege {
  margin-top: 100px;
  text-align: center;
}
.lastmessege {
  color: dimgray;
  font-size: 25px;
}
